@if (!string.IsNullOrWhiteSpace(Message))
{
    <div class="alert @alertClass">@Message <span @onclick="(() => Message = string.Empty)">x</span></div>
}




@code {
    [Parameter]
    public string Message { get; set; }

    private PlannerApp.Models.AlertMessageType messageType;

    [Parameter]
    public PlannerApp.Models.AlertMessageType MessageType
    {
        get => messageType;
        set
        {
            messageType = value;
            switch (messageType)
            {
                case PlannerApp.Models.AlertMessageType.Error:
                    alertClass = "alert-danger";
                    break;
                case PlannerApp.Models.AlertMessageType.Success:
                    alertClass = "alert-success";
                    break;
                case PlannerApp.Models.AlertMessageType.Warning:
                    alertClass = "alert-warning";
                    break;
                default:
                    break;
            }

        }
    }

    string alertClass = "alert-info";
}
