################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PlannerApp/PlannerApp/bin/Debug/netstandard2.1/wwwroot/_framework/_bin
